@{
    ViewData["Title"] = "数据展示";
}
<div class="layui-header header header-doc" spring>
    <div class="layui-main">
        <ul class="layui-nav" id="nav">
            <li class="layui-nav-item">
                <a href="@Url.Action("Index","Home")" style="text-decoration:none;">使用NPOI导出Word文档</a>
            </li>
            <li class="layui-nav-item">
                <a href="@Url.Action("ExportExcelData","ExcelOperation")" style="text-decoration:none;">使用NPOI导出Excel文档</a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="@Url.Action("Index","ExcelDataImportAndLook")" style="text-decoration:none;">将Excel文档数据数据批量导入到MySQL中</a>
            </li>
        </ul>
    </div>
</div>
<div style="height: 20px;"></div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <button class="layui-btn layui-btn-sm" onclick="Import()">数据导入</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="DataExport()">数据导出</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="Download()">导入模板下载</button>
                    </div>

                    <div class="layui-card-body">
                        <table class="layui-hide" id="test-table-resetPage"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //数据导出
        function DataExport() {
            $.ajax({
                async: true,
                datatype: 'json',
                url: '@Url.Action("Export","Home")',
                type: "post",
                success: function(data) {
                    if (data.code == 1) {
                        layer.msg("导出成功");
                        //下载
                        window.location.href = data.msg;
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
        }

        //模板下载
        function Download()
        {
            window.location.href="/Content/ExcelFiles/Template.xlsx";
        }

        function Import() {
            layer.open({
                type: 2,
                title: '数据导入',
                shadeClose: true,
                shade: false,
                maxmin: false, //开启最大化最小化按钮
                area: ['525px', '270px'],
                content: '@Url.Action("UserImport","ExcelDataImportAndLook")'
            });
        }

        function Export() {

        }

        //layui—table表格渲染和数据绑定
        layui.use('table', function () {
            var table = layui.table;
            table.render({
               elem: '#test-table-resetPage'
              , url: '@Url.Action("GetUserInfo","ExcelDataImportAndLook")'
              , loading: true
              , height: 405 //容器高度
              , limit:15
              , limits:[15, 30, 60, 90]
             , cols: [[
          { field: 'id', width: 180, title: '用户编号', sort: true }
        , { field: 'userName', width:180, title: '用户名' }
        , { field: 'sex', width: 180, title: '性别'}
        , { field: 'phone', width: 280, title: '手机号' }
        , { field: 'description', width: 280, title: '个人介绍' }
        , { field: 'hobby', title: '爱好', minWidth: 150,width:280}
             ]]
              , page: true
            });
        });
    </script>
